<%= simple_form_for(['admin', @weekly_template]) do |f| %>

  <%= f.input :year,label: '年' %>
  <%= f.input :month,label: '月' %>
  <%= f.input :week,label: '周次' %>

  <label for="">开始日期</label>

  <%= f.datetime_select :start_time,:discard_hour => true %>

  <br>
  
  <label for="">结束日期</label>

  <%= f.datetime_select :end_time,:discard_hour => true %>

  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." },  onkeydown: "if(event.keyCode==13){return false;}"  %>
<% end %>
