<ol class="breadcrumb">
  <li><%= link_to("全部部门",admin_sbus_index_path) %></li>
  <li class="active"><%= @sbu.name %> <kbd><%= @users.count %>人</kbd> | <%= link_to "导出", admin_sbus_path(@sbu,format: "xls"),class: 'btn btn-primary btn-xs' %> </li>
</ol>



<table class="table">
  <thead>
    <tr>
      <td>用户名</td>
      <td>职位</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.name,admin_user_path(user)) %></td>
        <td><%= user.title %></td>

        <td>
          <!-- 如果是管理员,则按钮为取消管理员 -->
          <% if user.admin %>
            <%= link_to('管理员',cancel_admin_admin_user_path(user),method: 'post',class: "btn btn-warning") %>
          <% else %>
            <%= link_to('管理员',set_admin_admin_user_path(user),method: 'post',class: "btn btn-default") %>
          <% end %>
          <!-- 如果是pm,则按钮为取消pm -->
          <% if user.pm %>
            <%= link_to('项目经理',cancel_pm_admin_user_path(user),method: 'post',class: "btn btn-warning") %>
          <% else %>
            <%= link_to('项目经理',set_pm_admin_user_path(user),method: 'post',class: "btn btn-default") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>