<h1><%= current_user.name %></h1>
<p>员工编号:<%= current_user.code %></p>
<p>ITcode:<%= current_user.itcode %></p>
<p>所属部门:<%= current_user.sbu %></p>
<p>联系方式:<%= current_user.phone %></p>
<p>职位:<%= current_user.title %></p>
<p>级别:<%= current_user.level %></p>
<p>成本:<%= current_user.cost %></p>



<%= link_to('编辑',edit_admin_user_path(current_user),class: "btn btn-primary") %>