<%= search_form_for ['admin',@q], html: {class: "navbar-form navbar-left"} do |f|  %>
  <div class="form-group">
    <%= f.search_field :code_or_name_cont, class: "form-control", placeholder: "输入公司名"  %>
    <%= f.submit "搜索", class: "btn btn-warning"  %>
    <%#=sort_link(@q, :name)  %>
  </div>
<% end %>

<div class="row"></div>

<%= link_to('新建项目',new_admin_project_path,class: 'btn btn-primary') %>


<table class="table">
  <thead>
    <tr>
      <td>项目名</td>
      <td>项目描述</td>
      <td>状态</td>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <% if project.workflow_disabled?  %>
        <tr class="alert alert-danger">
      <% else %>
        <tr class="alert alert-success">
      <% end %>
      
        <td><%= link_to(project.name,admin_project_path(project)) %></td>
        <td><%= project.description %></td>
        <td>
          <% if project.workflow_disabled?  %>
            已停止报工
          <% else %>
            进行中..
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @projects %>
</div>