<ol class="breadcrumb">
  <li>
    <%= link_to('项目',admin_projects_path)%>
  </li>
  <li class="active"><%= @project.name %></li>
</ol>

<h1>
  <%= @project.code %>#<%= @project.name %>
</h1>

<p>
  <%= @project.description %>
</p>


<p>
  <%= @project.project_type %>
</p>

<p>销售: <%= @project.sales_name %></p>
<p>部门: <%= @project.sbu %></p>



<p>
  报工状态:
  <% if @project.workflow_disabled?  %>
    已停止报工
  <% else %>
    进行中..
  <% end %>
</p>



<p>
涉及产品:
<% if @project.used_companies_hours.present? %>
  <% @project.used_companies_hours.each do |key,value|  %>
    <code><%= key %>#<%= value %>h</code>
  <% end %>
<% end %>
</p>

<p>
项目参与人数:
<%= @workflow_user_groups.count %>人  
</p>


<p>
项目经理:
<% @project.managers.each do |manager| %>
  <code><%= manager.itcode %></code>
<% end %>  
</p>


<p>
项目参与者:
<% @project.members.each do |member| %>
  <code><%= member.itcode %>#<%= @project.workhours(member) %>h</code>
<% end %>  
</p>

<p>当前工作量合计:
<%= @project.hours_sum %>小时
</p>

<p>项目经理邀请链接: <%= link_to(  'http://daily.dcits.com'+invite_manager_project_path,invite_manager_project_path) %>
  </p>


<hr>
<%= link_to('编辑',edit_admin_project_path(@project),class: "btn btn-primary")  %>


  <% if @project.workflow_disabled?  %>
    <%= link_to('开启继续报工',enable_workflow_admin_project_path(@project),method: 'post',class: "btn btn-warning") %></td>
  <% else %>
    <%= link_to('禁止继续报工',disable_workflow_admin_project_path(@project),method: 'post',class: "btn btn-danger") %></td>
  <% end %>





  <% if @project.workflow_disabled?  %>
    <div class="alert alert-danger">
      已停止报工
    </div>
  <% else %>
    <div class="alert alert-success">
      进行中..
    </div>
  <% end %>

<%= render "common/workflows_usergroup_table" %>