<ol class="breadcrumb">
  <li>
    <%= link_to('项目',projects_path)%>
  </li>
  <li class="active"><%= @project.name %></li>
</ol>

<h1>
  <%= @project.code %>#<%= @project.name %>
</h1>

<p>
  <%= @project.description %>
</p>


<p>销售: <%= @project.sales_name %></p>
<p>部门: <%= @project.sbu %></p>




<br>
项目成员:
<% @project.members.each do |member| %>
<code><%= member.email %></code>
<% end %>





<hr>
<%#= link_to('报工',new_project_workflow_path(@project),class: "btn btn-primary")  %>


<table class="table">
  <thead>
    <tr>
      <td>任务名</td>
      <td>用户名</td>
      <td>工作量(小时)</td>

    </tr>    
  </thead>
  <tbody>
    <% @project.workflows.each do |workflow| %>
      <tr>
        <td><%= workflow.name %></td>
        <td><%= workflow.user.email %></td>
        <td><%= workflow.hours %></td>



      </tr>
    <% end %>
  </tbody>



</table>