<ol class="breadcrumb">
  <li><%= link_to("全部用户",admin_users_path) %></li>
  <li><%= link_to(@user.email,admin_user_path(@user)) %></li>

  <li class="active">Y<%= @weekly.year %> # W<%= @weekly.week %></li>
</ol>

<h2>Y<%= @weekly.year %> # W<%= @weekly.week %></h2>
<p><%= @weekly.start_time.strftime("%Y-%m-%d") %>~<%= @weekly.end_time.strftime("%Y-%m-%d") %></p>

<%= render "common/workflows_table" %>





