

<ol class="breadcrumb">
  <li class="active">全部用户</li>
</ol>

<%= search_form_for @q, html: {class: "navbar-form navbar-left"} do |f|  %>
  <div class="form-group">
    <%= f.search_field :itcode_or_name_cont, class: "form-control", placeholder: "输入用户名或 itcode"  %>
    <%= f.submit "搜索", class: "btn btn-warning"  %>
    <%#=sort_link(@q, :name)  %>
  </div>
<% end %>



<table class="table">
  <thead>
    <tr>
      <td>用户名</td>
      <td>itcode</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.name,admin_user_path(user)) %></td>
        <td><%= link_to(user.itcode,admin_user_path(user)) %></td>
        <td>
          <!-- 如果是管理员,则按钮为取消管理员 -->
          <% if user.admin %>
            <%= link_to('管理员',cancel_admin_admin_user_path(user),method: 'post',class: "btn btn-warning") %>
          <% else %>
            <%= link_to('管理员',set_admin_admin_user_path(user),method: 'post',class: "btn btn-default") %>
          <% end %>
          <!-- 如果是pm,则按钮为取消pm -->
          <% if user.pm %>
            <%= link_to('项目经理',cancel_pm_admin_user_path(user),method: 'post',class: "btn btn-warning") %>
          <% else %>
            <%= link_to('项目经理',set_pm_admin_user_path(user),method: 'post',class: "btn btn-default") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>