<ol class="breadcrumb">
  <li><%#= link_to(@user.sbu_name,admin_sbus_path(@user.sbu)) %></li>
  <li class="active"><%= @user.email %></li>
</ol>


<h1><%= @user.name %></h1>
<p>员工编号:<%= @user.code %></p>
<p>ITcode:<%= @user.itcode %></p>
<p>所属部门:<%= @user.sbu_name %></p>
<p>联系方式:<%= @user.phone %></p>
<p>职位:<%= @user.title %></p>
<p>级别:<%= @user.level %></p>
<p>成本:<%= @user.cost %></p>



<%= link_to('编辑',edit_admin_user_path(@user),class: "btn btn-primary") %>



<table class="table">
  <thead>
    <tr>
      <td>周</td>
      <td>工作量</td>
    </tr>
  </thead>
  <tbody>
    <% @weeklies.each do |weekly| %>
      <% if weekly.workload_sum == 0 %>
        <tr class="bg-danger">
      <% else %>
        <tr>
      <% end %>
    
      <td><%= link_to('Y'+(weekly.year).to_s+'W'+(weekly.week).to_s,admin_user_weekly_path(@user,weekly))  %></td>
      <td><%= weekly.workload_sum %>小时</td>
    </tr>
    
    <% end %>
  </tbody>
</table>


