<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        
        <% if current_user.present? %>
        <div class="navbar-header">
            <a class="navbar-brand" href="<%= root_path %>">
                <img src="https://i.loli.net/2017/12/16/5a3523bb28d35.jpg" alt="背景图像_sm.jpg" title="背景图像_sm.jpg" width="25px" height="25px" />
            </a>
        </div>

        

        <p class="navbar-text"><%= current_user.name %> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Lv<%=current_user.level%><%= current_user.title %>   <span class="glyphicon glyphicon-yen" aria-hidden="true"></span><%= current_user.cost %></p>

        <p class="navbar-text">工号:<%= current_user.code%>  ITcode:<%=current_user.itcode%>  部门:<%=current_user.sbu%>  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><%=current_user.phone %> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%=current_user.email %></p>
        <% end %>

        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <!-- 用户登录系统 -->
                <% if !current_user %>
                    <li><%= link_to("注册", new_user_registration_path) %> </li>
                    <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hi!, <%= current_user.email %>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <% if current_user.is_admin? %>
                                <li><%= link_to("管理中心",admin_projects_path)  %></li>
                            <% end %>


                            <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                        </ul>
                    </li>
                <% end %>
                <!--  -->

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>