<ul class="nav nav-pills nav-stacked">
  <li role="presentation">
    <%= link_to root_path do %>
      <h1>本周周报</h1>
      <p><strong>W<%= @current_weekly.week %></strong> <small>(<%= @start_time %> ~ <%= @end_time %>)</small></p>
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to weeklies_path do %>
      历史周报
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to projects_path do %>
      历史项目
    <% end %>
  </li>
</ul>
