<hr>

  <% @workflows.each do |workflow| %>


  <div class="panel panel-default" style="font-size: 0.5em">
    <div class="panel-heading">
      <kbd><%= workflow[0].code %></kbd> # <kbd><%= workflow[0].sbu %></kbd> # <kbd><%= workflow[0].sales_name %></kbd>
      <h4><%= workflow[0].name %></h4>
      
    </div>
    <div class="panel-body">
      
     <table class="table table-condensed table-hover">


    <% workflow[1].each do |w| %>

    <tr>
      <td>
        
        <% companies = w.companies.map {|s| s.name} %>
        <% skills = w.skills.map {|s| s.name} %>
        <!-- 把其他情况加进去 -->
        <% if w.other_company.present?
          companies.push(w.other_company)
        end %>

        <% if w.other_skill.present?
          skills.push(w.other_skill)
        end %>






      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <h3 class="text-center"><%= w.hours %>h</h3>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <p><em> <small><%= w.start_time.strftime("%Y-%m-%d") %> ~ <%= w.end_time.strftime("%Y-%m-%d") %></small></em> </p>
          <blockquote>

          <p style="font-size: 0.5em"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span>  <kbd><%= w.workflow_type.name %></kbd> </p>
            
            <% if w.description.present? %>
              
              <p><%= w.description %></p>
            <% else  %>
              <p>--</p>
            <% end %>
          


          <p style="font-size: 0.5em">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span> 
            <% if companies.present? %>
              <% companies.each do |c|%>
                <code><%= c %></code>
              <% end %>
            <% else %>
             -
            <% end %>

            <% if skills.present? %>
              <% skills.each do |s|%>
                <code><%= s %></code>
              <% end %>
            <% else %>
             -
            <% end %>

          </p>

          

           </blockquote>

          
          
        </div>
   

        <div class="col-md-2 col-sm-2 col-xs-2 text-center">
          <%= link_to '删除',weekly_workflow_path(@current_weekly.id,w.id),method: 'DELETE',class: 'btn btn-danger btn-xs' , data: { confirm: "确认删除这条工作流?" }%>
        </div>
        
      </div>



      </td>
    </tr>



      



    <% end %>




       
     </table>   
      




    </div>
  </div>

<% end %>


<% if @workflows.blank? %>
  <div class="alert alert-warning" role="alert">本周还没有提交周报哦!</div>
<% end %>



