<%= simple_form_for [@current_weekly,@workflow] do |f| %>

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newWorkflowLabel">报工</h4>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <%= f.input :project_id,label: false,as: :hidden%>
            <%#= f.input :project_id,label: '项目名', collection: @project_names %>



            <div class="form-group">
              <label for="search_project_blank">* 项目号</label>
              <input type="text" class="form-control" id="search_project_blank" placeholder="">
              <div id="project_info"></div>
            </div>




            <%= f.input :name,label: '任务名', input_html: { class: "form-control"} %>

            <%= f.input :description,label: '任务描述', input_html: { class: "form-control"} %>
            <%= f.input :worktype,label: '工作类别', collection:['售前','售中','售后','供货','单次服务','集成'] %>
            <%= f.input :remaining_issue,label: '遗留问题', input_html: { class: "form-control"} %>


            <%= f.input :hours,label: '工作量(小时)', input_html: { class: "form-control"} %>

            <label for="">开始日期</label>

            <%= f.datetime_select :start_time,:discard_hour => true %>

            <br>
            
            <label for="">结束日期</label>

            <%= f.datetime_select :end_time,:discard_hour => true %>



          </div>
          
        
                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交ing..." } %>
      </div>
    </div>


<% end %>



<script>

$(document).ready(function(){
  $("#search_project_blank").focus(function(){
    $('#search_project_blank').css("background-color","#fff");
  });
  $("#search_project_blank").blur(function(){
    code = $('#search_project_blank').val();
    searchProject(code);
  });
});


function searchProject(code) {
  $.ajax({
    url: '/api/v1/projects/'+code,
    type: 'GET',
    dataType: 'json',
    // 加入动画
    beforeSend: function() {
      $("#loader").remove();
      $("#project_info").append('<div id="loader" class="loader"><span class="loader-inner">Loading...</span></div>');
    },

    complete: function() {
      $("#loader").remove();
      // 如果能成功加载信息再显示新浪
      // 从新浪获取价格
      // 如果第一位是6,则为沪市
    },
    success: function (data_obj) {
      if (data_obj['stat']==1) {
        console.log(data_obj['data']);
        $('#workflow_project_id').val(data_obj['data']['id'])
        $('#project_info').html('<p>'+data_obj['data']['name']+'#'+data_obj['data']['sales_name']+'</p>')
      }else if((data_obj['stat']==2)){
        $('#workflow_project_id').val(data_obj['data']['id'])
        $('#search_project_blank').css("background-color","#CC3333");
        $('#project_info').html('<p class="text-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true">'+data_obj['data']['name']+'#'+data_obj['data']['sales_name']+'(该项目已禁止继续派工)</p>')
      }else{
        console.log('项目号不存在');
        $('#workflow_project_id').val('');
        $('#search_project_blank').css("background-color","#CC3333");

        $('#project_info').html('<p class="text-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true">项目号不存在</span></p>')
      }
    },
    error: function() {
      /* Act on the event */
      console.log("error");
    }
  });


}
 


</script>

