<!DOCTYPE html>
<html>
  <head>
    <title>Daily</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <div class="row">
        <!-- 侧边栏 -->
        <div class="col-md-2">
          <%=  render "common/admin_sidebar" %>
        </div>
        <!-- 内容区 -->
        <div class="col-md-10">
          <%= render "common/flashes" %>
          <%= yield %>
        </div>
      </div>
        


    </div>
    <%= render "common/footer" %>
  </body>
</html>
